*{
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.image-gallery {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
}

.image-item {
  width: 270px; 
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(253, 122, 212, 0.627);
}

.image-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-item:hover img {
  transform: scale(1.05);
}
